{% extends 'account/base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block title %}Reset Password{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- Navbar -->
{% block navbar %}

{% endblock navbar %}

<!-- Content -->
{% block content %}

<div class="min-h-screen bg-white dark:bg-dark-main flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-12 w-auto " src="{% static 'img/logo.png' %}" alt="Vudera Logo">
        <h2 class="mt-6 text-3xl font-extrabold dark:text-dark-txt text-gray-900">
          Password Reset
        </h2>
        
      </div>

      <div class="">
        <div class="bg-white dark:bg-dark-main py-8 px-4 sm:rounded-lg sm:px-10">
          <form class="space-y-4" action="#" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div>
              <button class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" type="submit">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                </span>Password Reset
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="{% static 'img/robot-galaxy.jpg' %}" alt="">
  </div>
</div>

{% endblock content %}

<!-- Footer -->
{% block footer %}

{% endblock footer %}


{% block javascript %}{% endblock javascript %}