{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    
    

<div class="min-h-screen bg-white flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-12 w-auto" src="{% static 'logo.png' %}" alt="Workflow">
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
          Password Reset Sent
        </h2>
        <p class="mt-2 text-sm text-gray-600">
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% blocktrans %}We have sent you an e-mail.{% endblocktrans %}</p>
          <a href="{% url 'account_login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
            Login
          </a>
        </p>
      </div>

      
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="img/login.jpg" alt="">
  </div>
</div>
{% endblock %}
