{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    

<div class="min-h-screen dark:bg-dark-main bg-white flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-12 w-auto " src="{% static 'img/logo.png' %}" alt="Vudera Logo">
        <h2 class="mt-6 text-3xl font-extrabold dark:text-dark-txt text-gray-900">
          Password Reset
        </h2>
        <p class="mt-2 text-sm dark:text-dark-txt text-gray-600">

            <p class="dark:text-dark-txt">{% blocktrans %}You password is now changed!{% endblocktrans %}</p>
          <a href="{% url 'account_login' %}" class="font-medium text-blue-600 hover:text-blue-500">
            Login
          </a>
        </p>
      </div>

      
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="{% static 'img/robot-clouds.jpg' %}" alt="">
  </div>
</div>
{% endblock %}
