{% extends "account/base.html" %}
{% load static %}
{% load tailwind_filters %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="min-h-screen dark:bg-dark-main bg-white flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-12 w-auto " src="{% static 'img/logo.png' %}" alt="Vudera Logo">
        <h2 class="mt-6 text-3xl font-extrabold dark:text-dark-txt text-gray-900">
          <h1 class="dark:text-dark-txt text-gray-900">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        </h2>
        <p class="mt-2 text-sm text-gray-600">
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" name="action" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                          Change Password
                        </button>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
          <a href="{% url 'account_login' %}" class="font-medium text-blue-600 hover:text-blue-500">
            Login
          </a>
        </p>
      </div>

      
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="{% static 'img/robot-clouds.jpg' %}" alt="">
  </div>
</div>
{% endblock %}
